* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  height: 100%;
  background-color: #0d1410;
  /* font-family: "Cabin Sketch", sans-serif; */
  font-family: "Nunito", sans-serif;
}

.revo-realms {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#ui {
  position: fixed;
  top: 1rem;
  right: 10rem;
  display: flex;
  gap: 1rem;
  z-index: 1;
}

.debug-panel {
  width: 340px !important;
  z-index: 1;
  left: 0.5rem;
}

body:has(.monitoring-panel) .debug-panel {
  left: 110px;
}

hr {
  border: 0.1px solid;
  border-color: #d4d3d34e;
  margin: 1rem 0;
}

/**
Compass
**/
.compass-container {
  --opacity: 0;
  --size: min(10vh, 7.5vw);
  --padding: 1rem;
  position: fixed;
  bottom: var(--padding);
  right: var(--padding);
  opacity: var(--opacity);
  width: var(--size);
  height: var(--size);
  filter: drop-shadow(0 0 10px black);
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}
.compass {
  position: absolute;
  width: 100%;
}

.compass-arrow {
  --yaw: 0;
  position: absolute;
  width: 100%;
  transform: rotateZ(calc(var(--yaw) + 180deg));
  will-change: transform;
  transition: transform 0.15s linear;
}

.wind-icon-container {
  pointer-events: none;
  z-index: 10;
  display: grid;
  place-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 7.5em;
  color: rgba(255, 255, 255, 0.35);
}

@keyframes wind-fade-in {
  from {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -15%);
    opacity: 1;
  }
}

@keyframes wind-fade-out {
  from {
    transform: translate(-50%, -15%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
}

.wind-icon-container-fade-in {
  animation: wind-fade-in 0.5s forwards;
}

.wind-icon-container-fade-out {
  animation: wind-fade-out 1s forwards;
}
